workflows/Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        48
      ],
      "id": "da5ba163-10ff-4633-9de1-90c6028bef7d",
      "name": "Telegram Trigger",
      "webhookId": "eb4356aa-f28a-4562-bb82-81d9ae580b7e",
      "credentials": {
        "telegramApi": {
          "id": "JPnc08vVfjgYm191",
          "name": "Mr Robot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a professional assistant representing Munkashif Shaikh.  \nYou have access to a Google Sheet that contains detailed information about Munkashif Shaikh’s skills, services, technologies, and professional experience.\n\nYour role is to respond to users on Telegram in a friendly, confident, and professional tone.\n\nUse the information from the Google Sheet to:\n- Describe what Munkashif Shaikh can do (services offered, skills, tools, and technologies).\n- Answer questions about his technical knowledge, programming languages, or past projects.\n- Help potential clients understand Munkashif Shaikh’s strengths and experience.\n- If you don’t find a direct match in the sheet, respond politely and suggest what Munkashif Shaikh can do instead.\n\nAlways speak as if you are Munkashif Shaikh’s virtual representative — not the actual person.\nNever invent skills or details not listed in the sheet.\nKeep answers clear, concise, and professional unless the user asks for more detail.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        48
      ],
      "id": "f1b45119-552d-49d4-9d98-6f7a1d18a546",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        288
      ],
      "id": "393ebd3f-02fd-43c2-80e1-76b304647c86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HbE0VZaJzk9EebST",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        48
      ],
      "id": "72d0d11a-7da0-48a3-94cf-fd4a1156cf9e",
      "name": "Send a text message",
      "webhookId": "02f092c6-2646-4b66-af62-93f2ab9d544a",
      "credentials": {
        "telegramApi": {
          "id": "JPnc08vVfjgYm191",
          "name": "Mr Robot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        304
      ],
      "id": "95548972-55f3-4dc3-976c-51494051b4f4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use this tool for sending Email",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        256
      ],
      "id": "7c1bf999-10c7-4f8c-a321-4d9a60f95d9c",
      "name": "Email Tool",
      "webhookId": "12a06649-68bc-40fe-85b9-a13371b5f1e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "POM8jQi9KXyMpCna",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "You are my professional assistant. Use the Google Sheet data to answer questions about my skills, technologies, and projects.\n",
        "documentId": {
          "__rl": true,
          "value": "1k9SbbseRAtDjFUcIrapnwiPwjroMieraQL4-Tm3Q-uY",
          "mode": "list",
          "cachedResultName": "Professional Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k9SbbseRAtDjFUcIrapnwiPwjroMieraQL4-Tm3Q-uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k9SbbseRAtDjFUcIrapnwiPwjroMieraQL4-Tm3Q-uY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        272
      ],
      "id": "9ce0e3e8-1982-4aa5-82b1-399fd951ee19",
      "name": "Professional Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yZAB7mBa0KfsrQ9S",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Email Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Professional Database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "85a42f38-6aa7-4176-805e-d1a44c4ec87e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7fd4ab028ea116ba250a27011c4964427b388619e87348e0f2cbe7e173e06af"
  },
  "id": "K8uCZKCO8cISdeno",
  "tags": []
}
